<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias animi architecto consequatur consequuntur
    delectus dolor eius, eligendi fuga impedit laboriosam laborum maxime nam numquam officia optio, quisquam
    voluptatem.</h1>
