<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
    <div class="col-12 xl:col-6 p-card">
      <div class="h-full w-full m-0 py-7 px-4">
        <div class="text-center mb-5">
          <img src="assets/demo/images/login/avatar.png" alt="Image" height="56" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
          <span class="text-600 font-medium">Inicie sesión para continuar</span>
        </div>

        <form [formGroup]="fromGroup">
          <div class="w-full md:w-10 mx-auto">

            <div class="p-inputgroup mb-3">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" formControlName="email" placeholder="Email address" pInputText
                     class="w-full"
                     style="padding:1rem;">
            </div>

            <div class="p-inputgroup mb-3">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input [type]="typePassword" formControlName="password" placeholder="Password" pPassword
                     class="w-full" style="padding:1rem;"
              />
              <span class="p-inputgroup-addon" (click)="changeModePassword()"><i class="pi {{iconPassword}}"></i></span>
            </div>

            <div class="flex align-items-center justify-content-between mb-5">
              <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1">Remember me</label>
              </div>
              <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot
                password?</a>
            </div>

            <button pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
